name: Build
on:
  push:
    branches:
      - main
    paths:
      - "dependency.repos"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-24.04-arm
            platform: arm64
          - runs-on: ubuntu-24.04
            platform: amd64
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_SECRET_KEY }}

      - name: Change data-dir
        run: |
          sudo systemctl stop docker
          sudo rm -rf /var/lib/docker
          sudo mkdir /mnt/docker
          sudo ln -s /mnt/docker /var/lib/docker
          sudo systemctl start docker

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: main
          token: ${{ steps.app-token.outputs.token }}

      - name: Clone repositories
        run: |
          pip3 install vcstool
          mkdir -p external
          vcs import external < dependency.repos
          vcs pull external
        
      - name: Build packages
        uses: ForteFibre/fortefibre_github_action/create_debian_packages_batch@main
        with:
          s3_bucket: "fortefibre-apt"
          s3_access_key_id: ${{ secrets.S3_KEY_ID }}
          s3_access_key_secret: ${{ secrets.S3_KEY_SECRET }}
          s3_endpoint: ${{ secrets.S3_ENDPOINT }}
          gpg_private_key: ${{ secrets.GPG_KEY }}
          gpg_fingerprint: 6FD24526DB354C619705230B69ACCD996E5940A7
          platform: ${{ matrix.platform }}
